<div class="container container__small">
  <h5>Una vez se consiga la donación de sangre recuerda desactivar <strong>Buscar donantes ahora</strong> para que otros pacientes también puedan recibir ayuda.</h5>
  <div class="py-4">
    <%= render 'form', contact: @contact %>
  </div>
</div>
