<h1>Actualizar información</h1>

<%= render 'form', contact: @contact %>

<div class='py-4'>
  <a href="<%= contact_path(@contact) %>" class="btn btn-primary active" role="button" aria-pressed="true">Mostrar</a>
  <a href="<%= contacts_path %>" class="btn btn-secondary active" role="button" aria-pressed="true">Regresar</a>
</div>
