<h1>Nuevo paciente</h1>

<%= render 'form', contact: @contact %>

<div class='py-4'>
  <a href="<%= contacts_path %>" class="btn btn-secondary active" role="button" aria-pressed="true">Regresar</a>
</div>
