<div class="container container__small">
  <h5>Una vez se haga la donación de sangre, recuerda debes desactivar <strong>buscar donantes ahora</strong> para que otros pacientes también puedan recibir ayuda.</h5>
  <div class="py-4">
    <%= render 'form', contact: @contact %>
  </div>
</div>
