<div class='py-2'>
  <strong>Nota:</strong> Una vez se consiga la donación de sangre recuerda actualizar la información para no continuar buscando donantes para que otras personas también reciban ayuda.
</div>

<%= render 'form', contact: @contact %>
