
<div class="container">
    <div class='py-2'>
        <p>
            Una vez se haya realizado la donación de sangre recuerda debes desactivar <strong>buscar donantes ahora</strong> para que otros pacientes también puedan recibir ayuda.
        <p>
    </div>
    <%= render 'form', contact: @contact %>
</div>