
<div class="container">
    <div class='py-2'>
      Una vez se consiga la donación de sangre recuerda desactivar <strong>Buscar donantes ahora</strong> para que otros pacientes también puedan recibir ayuda.
    </div>
    <%= render 'form', contact: @contact %>
</div>